#container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 10px 10px;
    background-color: #fafaef;
    box-shadow-left: 15px 15px black;
    box-shadow-right: 15px 15px black;
    border-radius: 10px;
}

.header_image{

}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: #3c3c41;
    font-size: 14px;
}

p {
    font-family: "Helvetica", "Arial", sans-serif;
}

#spinner{
    height: 150px;
    margin: 150px;
}

.small{
    font-size: .8em
}