<html>
<head>
<!--     Bootstrap for responsive grid -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='js/bootstrap.min.css') }}"media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
<!-- Jquery, Spinner, search functionality, and overrides -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type= "text/javascript" src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <title>The Social Bookworm</title>
</head>
<body>
<div class="container">  
    <div class="row">
        <div class="col-md-10 .col-xs-12 col-md-offset-1">
            <div class="head"><a href= "{{ url_for('request_oauth') }}"> <img id="logo" src = "{{ url_for('static', filename='img/worm1.png') }}"></div></a>
        </div>
    </div>

    <div class="row">  
      <div class="col-md-10 .col-xs-12 col-md-offset-1">
           <div class="ribbon">
                <div class="ribbon-content"></div>
            </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-10 .col-xs-12 col-md-offset-1">
            <div class="content clearfix">
              <div class="top-margin">
                <h1>Welcome, {{ name }}! </h1>
                <h3>Search for events near you:</h3>
                <form id="user-input">
                  <label>Enter your zip code:</label>
                  <input type="text" id="zipcode"> 
                  <button id="go">Search</button>
                </form> 
                <div id="warnings"></div>
                <div id="spinner"></div>
                <div class="display"></div>
                <div class="no-results"></div>
              </div>
            </div>
          </div>
        </div>

    <div class="row">
    <div class="col-md-10 .col-xs-12 col-md-offset-1">
            <div class="footer">
                Developed by <a href= "mailto:erin_oconnell@outlook.com">Erin O'Connell.</a>&nbsp; &nbsp; Powered by (but unffiliated with) <a href="http://www.goodreads.com">Goodreads.</a>
            </div>
    </div>
</div>
<script type= "text/javascript" src="{{ url_for('static', filename='js/bookworm.js') }}"></script>
</html>