<html>
<head>
    <script type= "text/javascript" src="{{ url_for('static', filename='js/spin.min.js') }}"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
	  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <!-- <div id="top">
  </div>
  <div id="top_circle"><h3 class="header_image">[logo goes here]</h3>
  </div> -->

  <div id = "container">
    <h3>Search for Literary Events</h3>
    <!-- Need to pass user's info into the jQuery function -->
    <form id="user-input">
    <!--    Goodreads ID: <input type="text" name="id"><br> -->
        <label>Zip Code:</label>
        <input type="text" id="zipcode"><br>
        <button id="go">Find events near you!</button>
    </form> 
    <div id="warnings"></div>
    <div id="spinner"></div>
    <div class="display"></div>
  </div>
</body>

<script>
// Spinner from http://fgnass.github.io/spin.js/
  var opts = {
    lines: 11, // The number of lines to draw
    length: 9, // The length of each line
    width: 7, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 0.9, // Rounds per second
    trail: 72, // Afterglow percentage
    shadow: true, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 'auto', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };

//Upon clicking the submit button, get the values that the user entered.	
   $("#user-input").submit(function(event){
   		//Prevent the page from reloading.
   		event.preventDefault();
      //Check that it's a valid 5-digit code.
      zipcode = $("#zipcode").val();
      if (zipcode.length != 5) {
        $("#warnings").html("Please enter a valid five-digit zip code.");
      } else {
        $("#warnings").hide();
        $("#user-input").html("<h5>Please wait: the Social Bookworm is burrowing through your friends' bookshelves.</h5>");  
        var target = document.getElementById('spinner');
        var spinner = new Spinner(opts).spin(target);
        fetchUserData(zipcode);
      }
   });

   function changeText(image, friend, title, date, link, venue, city, address){
        var changeable = $(".display")[0];
        myText = "<img src='" + image + "'> Your friend <b>" + friend + "</b> might be interested in attending: <h4><a href = '" + link + "'>" + title + "</a></h4><h5>" + date + "</h5>" + "<p>" + venue + "<br>" + address + "<br>" + city + "</p>";
        $(changeable).append(myText);
    };

   function fetchUserData(zip) {
   		var address = {{ url_for('fetch') }} + zip;
   		var results = jQuery.get(address, function() {})
	   		.fail(function() { alert("error"); })
			.done(function() { 
				console.log("success!");
        $("#user-input").hide();
        $("#spinner").hide();
        data = results.responseText;
        jsonData = eval('(' + data + ')');
        for (item in jsonData) {
          event_link = jsonData[item].author_event.event_link;
          event_title = jsonData[item].author_event.event_title;
          event_datetime = jsonData[item].author_event.date;
          friend_name = jsonData[item].friend.friend_name;
          friend_image = jsonData[item].friend.image;
          event_venue = jsonData[item].author_event.venue;
          event_city = jsonData[item].author_event.city;
          event_address = jsonData[item].author_event.address;
          var date = new Date(event_datetime)
          changeText(friend_image, friend_name, event_title, date, event_link, event_venue, event_city, event_address)
        }
			})
   }

</script>
</html>